<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js" async=""></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

    <link rel="manifest" href="./app.webmanifest">

    <!-- Meta Description -->
    <meta name="description" content="Foodic adalah platform restoran yang menyajikan hidangan spesial untuk momen istimewa. Temukan berbagai pilihan restoran terbaik di sekitar Anda.">

    <!-- Favicon -->
    <link rel="icon" href="favicon.png" type="image" />

    <title>foodic</title>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>

    <header>
      <nav class="navbar">
        <div class="logo-brand">
          <img src="images/logo.png" alt="logo brand" />
        </div>

        <button id="drawer-button" class="drawer-button" aria-label="Buka menu navigasi">☰</button>

        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="#/Favorite">Favorite</a></li>
          <li><a href="https://github.com/monicaca9" target="_blank" rel="noopener">About Us</a>
          </li>
        </ul>

      </nav>
    </header>

    <div id="loading" class="loading-spinner" style="display: none;"></div>

    <main id="maincontent">
    </main>
    
    <footer>
      <p>Copyright © 2024 - Foodic Apps</p>
    </footer>
  </body>
</html>
